{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <h1>Modifier la catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="d-flex mt-3">
        <a href="{{ path('app_category_index') }}" class="btn btn-secondary me-2">Retour à la liste</a>
        
        <form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
            <button class="btn btn-danger">Supprimer</button>
        </form>
    </div>
{% endblock %}
